<style>
  .star-container svg{
    width: 16px;
    height: 16px;
  }
</style>

<div class="" data-yotpo-instance-id="359536" data-yotpo-product-id="6909508124757" data-yotpo-cart-product-id="" data-yotpo-section-id="product" data-yotpo-element-loaded="true">

<div id="yotpo-reviews-star-ratings-widget" class="yotpo-reviews-star-ratings-widget yotpo-star-ratings-widget-override-css yotpo-device-mobile yotpo-display-s yotpo-star-ratings-clickable" style="display: flex; justify-content: left; flex-direction: row; margin-bottom: 3px;">
	<div class="yotpo-widget-clear">
		<div class="yotpo-bottom-line-scroll-panel" style="display: flex; align-items: flex-start;">
        <div class="yotpo-sr-bottom-line-summary" style="display: flex; flex-direction: row; align-items: center;">
             <div style="display: flex; flex-direction: row; margin-right: 10px; align-items: center;">
							<div class="star-container" style="margin-right: 3.5px; display: flex; flex-direction: row;">
								<svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" width="14" height="14">
									<defs>
										<linearGradient id="yotpo_stars_gradient_0.08743255256065585">
											<stop offset="0%" stop-color="#000000" data-darkreader-inline-stopcolor="" style="--darkreader-inline-stopcolor:#000000;"></stop>
											<stop stop-opacity="1" offset="0%" stop-color="#FFFFFF" data-darkreader-inline-stopcolor="" style="--darkreader-inline-stopcolor:#181a1b;"></stop>
										</linearGradient>
									</defs>
									<path d="M9 14.118L14.562 17.475L13.086 11.148L18 6.891L11.529 6.342L9 0.375L6.471 6.342L0 6.891L4.914 11.148L3.438 17.475L9 14.118Z" stroke="#000000" fill="url('#yotpo_stars_gradient_0.08743255256065585')" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:#e8e6e3;"></path>
								</svg>
            	</div><div class="star-container" style="margin-right: 3.5px; display: flex; flex-direction: row;">
								<svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" width="14" height="14">
									<defs>
										<linearGradient id="yotpo_stars_gradient_0.005914650235877339">
											<stop offset="0%" stop-color="#000000" data-darkreader-inline-stopcolor="" style="--darkreader-inline-stopcolor:#000000;"></stop>
											<stop stop-opacity="1" offset="0%" stop-color="#FFFFFF" data-darkreader-inline-stopcolor="" style="--darkreader-inline-stopcolor:#181a1b;"></stop>
										</linearGradient>
									</defs>
									<path d="M9 14.118L14.562 17.475L13.086 11.148L18 6.891L11.529 6.342L9 0.375L6.471 6.342L0 6.891L4.914 11.148L3.438 17.475L9 14.118Z" stroke="#000000" fill="url('#yotpo_stars_gradient_0.005914650235877339')" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:#e8e6e3;"></path>
								</svg>
            	</div><div class="star-container" style="margin-right: 3.5px; display: flex; flex-direction: row;">
								<svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" width="14" height="14">
									<defs>
										<linearGradient id="yotpo_stars_gradient_0.25182358528750237">
											<stop offset="0%" stop-color="#000000" data-darkreader-inline-stopcolor="" style="--darkreader-inline-stopcolor:#000000;"></stop>
											<stop stop-opacity="1" offset="0%" stop-color="#FFFFFF" data-darkreader-inline-stopcolor="" style="--darkreader-inline-stopcolor:#181a1b;"></stop>
										</linearGradient>
									</defs>
									<path d="M9 14.118L14.562 17.475L13.086 11.148L18 6.891L11.529 6.342L9 0.375L6.471 6.342L0 6.891L4.914 11.148L3.438 17.475L9 14.118Z" stroke="#000000" fill="url('#yotpo_stars_gradient_0.25182358528750237')" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:#e8e6e3;"></path>
								</svg>
            	</div><div class="star-container" style="margin-right: 3.5px; display: flex; flex-direction: row;">
								<svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" width="14" height="14">
									<defs>
										<linearGradient id="yotpo_stars_gradient_0.3279560888201105">
											<stop offset="0%" stop-color="#000000" data-darkreader-inline-stopcolor="" style="--darkreader-inline-stopcolor:#000000;"></stop>
											<stop stop-opacity="1" offset="0%" stop-color="#FFFFFF" data-darkreader-inline-stopcolor="" style="--darkreader-inline-stopcolor:#181a1b;"></stop>
										</linearGradient>
									</defs>
									<path d="M9 14.118L14.562 17.475L13.086 11.148L18 6.891L11.529 6.342L9 0.375L6.471 6.342L0 6.891L4.914 11.148L3.438 17.475L9 14.118Z" stroke="#000000" fill="url('#yotpo_stars_gradient_0.3279560888201105')" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:#e8e6e3;"></path>
								</svg>
            	</div><div class="star-container" style="display: flex; flex-direction: row;">
								<svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg" width="14" height="14">
									<defs>
										<linearGradient id="yotpo_stars_gradient_0.3947001055502546">
											<stop offset="0%" stop-color="#000000" data-darkreader-inline-stopcolor="" style="--darkreader-inline-stopcolor:#000000;"></stop>
											<stop stop-opacity="1" offset="0%" stop-color="#FFFFFF" data-darkreader-inline-stopcolor="" style="--darkreader-inline-stopcolor:#181a1b;"></stop>
										</linearGradient>
									</defs>
									<path d="M9 14.118L14.562 17.475L13.086 11.148L18 6.891L11.529 6.342L9 0.375L6.471 6.342L0 6.891L4.914 11.148L3.438 17.475L9 14.118Z" stroke="#000000" fill="url('#yotpo_stars_gradient_0.3947001055502546')" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:#e8e6e3;"></path>
								</svg>
            	</div>
            	 <!--v-if-->
            	</div>
          <!--v-if-->
          
            <div class="yotpo-sr-bottom-line-right-panel">
              <div class="yotpo-sr-bottom-line-text" style="white-space: nowrap; font-size: 16px; line-height: 18px; text-align: start; font-style: normal; font-weight: 700; color: rgb(44, 44, 44); --darkreader-inline-color:#ccc8c1;" data-darkreader-inline-color="">
                0 отзывов
              </div>
            </div>
          
          <!--v-if-->
        </div>
        <!--v-if-->
    </div>
  </div>
</div>
</div>